<div class="register-component">
    <!-- Default form register -->
    <form class="text-center border border-light p-5 register-form">

        <p class="h4 mb-4">Sign up</p>

        <div class="upload-images-screen" id="uploadImagesScreen">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                We must first check that both images match.
            </small>

            <input type="email" [disabled]="inputDisabled" (keyup)="onKey($event)" id="defaultRegisterFormEmail"
                class="form-control mb-4" placeholder="E-mail">

            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                You can either use the Open Camera button to use your camera or upload a file.
            </small>


            <div [hidden]="retakePhotosAlertHidden">
                <div class="alert alert-danger">
                    {{errorMessage}}
                </div>

                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                    Having trouble signing up? Bypass the images checks, for testing purposes ;)
                </small>
                <input type="checkbox" id="bypassChecks" name="bypassChecks" value="Bike">
                <label for="bypassChecks">Bypass image checks</label><br>
            </div>


            <div class="input-group" (click)="checkIfEmail()">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload Selfie</span>
                </div>
                <div class="custom-file">
                    <input [disabled]="chooseSelfieDisabled" type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" (change)="handleSelfieInput($event.target)">
                    <label class="custom-file-label" for="inputGroupFile01">
                        <div class="browse-image-text">
                            Choose selfie
                        </div>
                    </label>
                </div>
            </div>

            <div mdbBtn color="info" [hidden]="!showSelfieCamera" class="my-4" (click)="openSelfieCamera()">Open camera
            </div>
            <br>

            <div class="input-group upload-id" [hidden]="uploadIdHidden">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload Identity Card</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01"
                        aria-describedby="inputGroupFileAddon01" (change)="handleIDInput($event.target)">
                    <label class="custom-file-label" for="inputGroupFile01">
                        <div class="browse-image-text">
                            Choose identity card
                        </div>
                    </label>
                </div>
            </div>
            <div mdbBtn color="info" [hidden]="!showIdCamera" class="my-4" (click)="openSelfieCamera()">Open camera
            </div>
            <br>

            <div mdbBtn color="info" class="my-4" [hidden]="checkButtonHidden" (click)="checkImages()">Check</div>
            <div class="d-flex justify-content-center">
                <div class="spinner-border m-3" role="status" [hidden]="spinnerHidden">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

        <div id="signupScreen" class="signup-screen">

            <!-- <div class="form-row mb-4">
            <div class="col">
                <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
            </div>
            <div class="col">
                <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
            </div>
        </div> -->

            <!-- E-mail -->
            <input type="email" disabled value="{{email}}" id="defaultRegisterFormEmail" class="form-control mb-4"
                placeholder="E-mail">
            <small id="defaultRegisterFormPasswordHelpBlocks" [hidden]="!showUserDataMessage" class="form-text text-muted mb-4">
                Please correct the information below if needed.
            </small>

            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input type="text" id="defaultRegisterFormFirstName" value="{{userData.first_name}}"
                        class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input type="text" id="defaultRegisterFormLastName" value="{{userData.last_name}}"
                        class="form-control" placeholder="Last name">
                </div>
            </div>

            <div class="form-row mb-4">
                <div class="col">
                    <input type="text" id="defaultRegisterFormCnp" value="{{userData.cnp}}" class="form-control"
                        placeholder="CNP">
                </div>
                <div class="col">
                    <input type="text" id="defaultRegisterFormSerie" value="{{userData.serie}}" class="form-control"
                        placeholder="Serie">
                </div>
            </div>

            <!-- Password -->
            <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
                (keyup)="onKeyPassword($event)" aria-describedby="defaultRegisterFormPasswordHelpBlock">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                At least 8 characters and 1 digit
            </small>

            <!-- Phone number -->
            <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number"
                (keyup)="onKeyPhone($event)" aria-describedby="defaultRegisterFormPhoneHelpBlock">
            <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                10 digit phone number
            </small>
            <!-- <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
            Optional - for two-step authentication
        </small> -->

            <!-- Newsletter -->
            <!-- <div class="row">
            <div class="col-md-6 mx-auto d-flex justify-content-center">
                <mdb-checkbox [default]="true">Subscribe to our newsletter</mdb-checkbox>
            </div>
        </div> -->

            <!-- Sign up button -->
            <div mdbBtn color="info" class="my-4" (click)="signUp()" [hidden]="signInDisabled">Sign up</div>

            <!-- Social register -->
            <!-- <p>or sign up with:</p>

        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="facebook"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="twitter"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="linkedin"></mdb-icon>
        </a>
        <a type="button" class="light-blue-text mx-2">
            <mdb-icon fab icon="github"></mdb-icon>
        </a> -->

            <hr>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a routerLink="/terms">terms of service</a>
            </p>

        </div>
        <!-- Register -->
        <p style="padding-top:2vh">Already a user?
            <a routerLink="/login">Log in</a>
        </p>
    </form>
    <!-- Default form register -->
</div>

<div mdbModal #demoBasic="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Capture image</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeCamera()">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container vh-100">
                    <div class="d-flex flex-column align-items-center">
                        <div class="p-1">
                            <video #video class="vid" autoplay></video>
                        </div>
                        <div class="pb-2">
                            <button class="btn btn-primary" (click)="capture()">Capture Image</button>
                        </div>
                        <div hidden class="p-1">
                            <canvas id="canvas" #canvas class="vid"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" mdbBtn color="secondary" size="sm" class="bwaves-light" data-dismiss="modal"
                    (click)="demoBasic.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div>
</div>