.register-component {
    min-height: calc(100vh - 236px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 50vw;
    min-width: 600px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: fit-content;
}

.signup-screen {
    display: none;
}

.modal-dialog {
    max-width: unset;
    width: 50vw;
}

.modal-content {
    /* width: 74vw !important; */
    height: fit-content;
    max-width: unset;
    width: 50vw;
}

.modal-body {
    max-width: unset;
    width: 50vw;
    max-height: 60vh;
}

.upload-id {
    padding-top: 24px;
}

.custom-file-label::after {
    background-color: #FF874B !important;
    color: black;
}

.btn-info {
    background-color: #FF874B !important;
}

#bypassChecks {
    margin-right: 10px;
}

#defaultRegisterFormPasswordHelpBlock {
    text-align: left;
}

.vid {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .register-form {
        width: 100vw;
        min-width: unset;
    }
    .browse-image-text {
        display: none;
    }

    .modal-dialog {
        max-width: unset;
        width: 50vw;
    }
    
    .modal-content {
        /* width: 74vw !important; */
        height: fit-content;
        max-width: unset;
        width: 100vw;
    }
    
    .modal-body {
        max-width: unset;
        width: 100vw;
    }
}