<mdb-navbar class="navbar-header" SideClass="navbar navbar-expand-lg navbar-dark special-color-dark custom-header" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="/home"><img src="../../../assets/brand.png"></a>
    </mdb-navbar-brand>
    <links>
        <!-- Links -->
        <ul class="navbar-nav ml-auto">

            <li *ngIf="this.commonService.isLoggedIn()" class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">
                    <mdb-icon fas icon="home"></mdb-icon>Home<span class="sr-only">(current)</span>
                </a>
            </li>

            <li *ngIf="this.commonService.isLoggedIn()" class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/transactions">
                    <mdb-icon fas icon="money-bill-wave"></mdb-icon>Check transactions<span class="sr-only">(current)</span>
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
                    mdbWavesEffect>
                    <mdb-icon fas icon="user"></mdb-icon> Profile<span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a *ngIf="this.commonService.isLoggedIn()" class="dropdown-item waves-light" mdbWavesEffect href="/home">My account</a>
                    <a *ngIf="this.commonService.isLoggedIn()" class="dropdown-item waves-light" mdbWavesEffect routerLink="/add-transaction">Add transaction</a>
                    <a *ngIf="this.commonService.isLoggedIn()" class="dropdown-item waves-light" mdbWavesEffect routerLink="/make-appointment">Make apointment</a>
                    <a *ngIf="this.commonService.isLoggedIn()" class="dropdown-item waves-light" mdbWavesEffect (click)="handleLogout()">Log out</a>
                    <a *ngIf="!this.commonService.isLoggedIn()" class="dropdown-item waves-light" mdbWavesEffect routerLink="/login">Login</a>
                </div>
            </li>

        </ul>
    </links>
</mdb-navbar>