<div class="home-component">
    <div *ngIf="this.commonService.isLoggedIn()" class="container-lg">
        <div class="jumbotron">
            <h1 class="display-6">Recommendations</h1>
            <p class="lead">These recommendations are based on your latest interests and transactions.</p>
            <hr class="my-4">
            <p *ngIf="recommendation.length != 0" class="recommendation-description">{{recommendation}}</p>
            <p *ngIf="recommendation.length == 0">Unfortunately there are not recommandation for you at this time.</p>
            <!-- <a mdbBtn color="primary" class="btn-info" size="lg" routerLink="/add-transaction" role="button" mdbWavesEffect>Add transaction</a> -->

            <div class="home-expenses" *ngIf="recommendation.length != 0">
                <br>

                <p class="latest-expenses-title"> Your latest expenses:</p>
                <ul class="list-group">
                    <li *ngFor="let expense of expenses"
                        class="list-group-item d-flex justify-content-between align-items-center">
                        {{expense.key}}
                        <mdb-badge [pill]="true" [primary]="true">{{expense.value | number : '1.2-2'}}</mdb-badge>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="!this.commonService.isLoggedIn()">
        <!-- Shouldn't show this div actually -->
        Hi there! Try logging in bro
    </div>
</div>