.home-component {
    min-height: calc(100vh - 236px);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.btn-info {
    background-color: #FF874B !important;
}

.recommendation-description {
    font-size: max(1.5vw, 1rem);
}

.home-expenses {
    width: 50%;
}

.appointment-card {
    max-width: 50%;
}

.badge-primary {
    background-color: #FF874B!important;
}

.latest-expenses-title {
    font-size: 1.5rem;
    font-weight: bolder;
}

.total-expense {
    width: max-content;
    background-color: #FF874B;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}

.appointment-reason {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .display-6 {
        font-size: 2rem;
    }

    .home-expenses {
        width: 100%;
    }

    .appointment-card {
        max-width: 100%;
    }
}