<div class="make-appointment-component">
    <!-- Default form contact -->
    <form class="make-appointment-form text-center border border-light p-5">
            <p class="h4 mb-4">Create a new appointment</p>
            <!-- Subject -->
            <label>Reason</label>
            <select class="browser-default custom-select mb-4" id="defaultContactFormReason"
                (change)="onChangeReason($event.target)">
                <option value="" selected disabled>Choose appointment reason</option>
                <option value="Loan">Loan</option>
                <option value="Withdraw">Withdraw</option>
            </select>

            <label>Date</label>
            <input id="defaultContactFormDate" class="form-control mb-4" type="date"/>

            <div class="alert alert-danger" [hidden]="!fieldsHaveError">
                {{errorMessage}}
            </div>
            <!-- Send button -->
            <div mdbBtn color="info" (click)="makeNewAppointment()">Create</div>
    </form>

    <div mdbModal #demoBasic="mdbModal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title w-100" id="myModalLabel">Appointment created</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    Appointment sucessfully created, you will be redirected to the homepage.
                </div>
                <div class="modal-footer">
                    <button type="button" mdbBtn color="secondary" size="sm" class="bwaves-light" data-dismiss="modal" routerLink="/home" mdbWavesEffect>Home</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Default form contact -->
</div>

