.custom-header {
    height: 100%;
    min-height: 100px;
}

.custom-header mdb-navbar-brand {
    height: 100%;
}

.custom-header mdb-navbar-brand a {
    height: 100%;
}

.social-buttons {
    color: #FF874B !important;
}

.navbar .nav-item .nav-link .fab, .navbar .nav-item .nav-link .far, .navbar .nav-item .nav-link .fas {
    color: #FF874B !important;
}